body {
	background: #f0f0f0;
	padding: 0 0;
	margin: 0 0;
}

#logo {
	width: 200px;
	height: 50px;
	float: right;
}
.header {
	width: 100%;
	height: 50px;
	background-color: #653C65;
	
}

#gear-icon {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #653C65; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icon {
	width: 25px;
	height: 25px;
}

.mjesecniStats, .aktivniStats, .totalniStats {

	width: 300px;
	height: 150px;
	margin-left: 20px;
	background-color: red;
	display: inline-block;
}

.aktivniStats {
	margin-left: 40px;
	margin-top: 100px;
	background-color: #73cf61;
}

.mjesecniStats {
	left: 470px;
	background-color: #6186cf;
	display: inline-block;
}

.totalniStats {
	left: 470px;
	background-color: #cfb361;
	display: inline-block;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Merriweather', serif;

}
